<app-nav-bar></app-nav-bar>
<div class="main-content mt-10">

<div class="page-container mx-auto w-full max-w-2xl p-6 mt-16">
  <form 
  [formGroup]="postForm" 
  (ngSubmit)="submitPost()" 
  class="post-container bg-white p-6 rounded-lg shadow-md mb-2"
>

  <div class="flex items-center mb-4 space-x-3">
    <div class="post-header">
      <img 
        class="profile-image w-12 h-12 rounded-full object-cover" 
         [src]="me.photoProfile"
       
      />
      <div class="user-info">
    <h3 class="font-medium text-lg" *ngIf="me">{{ me.firstName }} {{ me.lastName }}</h3>

      </div>
    </div>
  </div>


  <textarea
    formControlName="textArea"
    class="w-full border border-gray-300 rounded-lg p-3 text-gray-600 resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"
    rows="4"
    placeholder="De quoi souhaitez-vous discuter ?"
    style="min-height: 120px; width: 100%;"
  ></textarea>

  
  <div class="flex items-center justify-between mt-4">
    <div class="flex items-center space-x-4">
  
      <input
        type="file"
        accept="image/*,application/pdf"
        (change)="onFileChange($event)"
        multiple
        style="display: none;"
        id="fileInput"
       
      />

    <label for="fileInput" class="flex items-center text-gray-500 hover:text-blue-500 cursor-pointer">
        ➕ 
      </label>

     
      <div *ngIf="selectedFileNames && selectedFileNames.length > 0" class="ml-2">
        <p class="text-gray-700">Fichiers sélectionnés :</p>
        <ul>
          <li *ngFor="let fileName of selectedFileNames">{{ fileName }}</li>
        </ul>
      </div>
    </div>


    <div class="flex justify-end">
      <button 
        class="w-7 h-7 p-0 border-0 rounded overflow-hidden focus:outline-none" 
        type="submit"
      >
        <img 
          src="shareIcon.png" 
          alt="Button Image" 
          class="w-full h-full object-cover"
        />
      </button>
    </div>
  </div>
</form>



<div *ngIf="classifiedPosts.length === 0" 
class="text-center text-gray-500 mt-4 bg-white rounded-lg shadow-md h-48 flex items-center justify-center">
Aucun post à afficher.
</div>

<div  *ngIf="classifiedPosts.length > 0"class="page-container mx-auto w-full max-w-2xl p-6 space-y-6">


  <div *ngFor="let post of classifiedPosts" class="post-container bg-white p-6 rounded-lg shadow-md mb-6">
    <div *ngIf="post.poste.typePoste==='NORMAL'" class="post-header flex items-center mb-4 space-x-3">
      <img class="profile-image w-12 h-12 rounded-full object-cover"  [src]="post.photoProfile" alt="Profile Image" />
      <div class="user-info">
        <h3 (click)="navigateToProfile(post.poste.userId)" class="font-medium text-lg hover:underline">
          {{ post.firstName }} {{ post.lastName }} 

        </h3>
               
      </div>
    </div>

    <div class="post-content">
      <p>{{ post.poste.textArea }}</p>
      <div *ngIf="post.poste.posteFiles && post.poste.posteFiles.length > 0" class="image-gallery grid gap-2">
        <ng-container [ngSwitch]="post.poste.posteFiles.length">
      
          <div *ngSwitchCase="1">
            <img 
              class="post-image cursor-pointer" 
              [src]="getFileUrl(post.poste.posteFiles[0])"  
              alt="Post Image" 
              (click)="openModalimage(getFileUrl(post.poste.posteFiles[0]))"
            />
           
          </div>
      
        
          <div *ngSwitchCase="2" class="grid grid-cols-2 gap-2">
            <img 
              *ngFor="let image of post.poste.posteFiles" 
              class="post-image cursor-pointer" 
              [src]="getFileUrl(image)"  
              alt="Post Image" 
              (click)="openModalimage(getFileUrl(image))"
            />
           

          </div>
      
          <div *ngSwitchCase="3" class="grid grid-cols-2 gap-2">
            <img 
              class="post-image cursor-pointer col-span-2" 
              [src]="getFileUrl(post.poste.posteFiles[0])" 
              alt="Post Image" 
              (click)="openModalimage(getFileUrl(post.images[0]))"
            />
            <img   
              *ngFor="let image of post.poste.posteFiles.slice(1, 3)" 
              class="post-image cursor-pointer" 
              [src]="getFileUrl(image)" 
              alt="Post Image" 
              (click)="openModalimage(getFileUrl(image))"
            />
          </div>
      
          
          <div *ngSwitchDefault class="grid grid-cols-2 gap-2">
            <img 
              *ngFor="let image of post.poste.posteFiles; let i = index" 
              class="post-image cursor-pointer"
              [src]="getFileUrl(image)" 
              alt="Post Image" 
              [class.hidden]="i >= 4"
              (click)="openModalimage(getFileUrl(image))"
            />
            <div *ngIf="post.poste.posteFiles.length > 4" class="relative flex items-center justify-center bg-gray-200 rounded-lg">
              <span 
              (click)="openGallery(post.images.slice(4))" 
              class="text-lg font-bold text-gray-700 cursor-pointer"
              >
              +{{ post.poste.posteFiles.length - 4 }}
            </span>          </div>
          </div>
          <div *ngIf="isGalleryOpen" class="modal fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
            <div class="bg-white p-4 rounded-lg shadow-lg max-w-md w-full">
              <div class="flex flex-wrap gap-2">
                <img 
                  *ngFor="let image of selectedImages" 
                  [src]="image" 
                  alt="Gallery Image" 
                  class="w-full h-auto rounded-lg"
                />
              </div>
              <button 
                (click)="closeGallery()" 
                class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg"
              >
                Fermer
              </button>
            </div>
          </div>
          
        </ng-container>

        <div *ngIf="isModalOpen" class="modal fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
          <div class="bg-white p-4 rounded-lg shadow-lg max-w-md w-full">
            <img [src]="selectedImage" alt="Selected Image" class="w-full h-auto rounded-lg" />
            <button 
              (click)="closeModalimage()" 
              class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg"
            >
              Fermer
            </button>
          </div>
        </div>
  
      </div>
    
    </div>
  
  
  
    <div class="separator my-4 h-px bg-gray-200"></div>
  
     <div class="flex items-center space-x-2">
      <button
        (click)="toggleLike(post)"
        [ngClass]="{
          'text-red-500': post.isLiked,
          'text-gray-300': !post.isLiked
        }"
        class="p-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-8 h-8"
        >
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
          />
        </svg>
      </button>
      <span *ngIf="post.poste.nbrLikes!=0">{{ post.poste.nbrLikes }}</span>
     </div>
    
    
   </div>
  
    </div>
    
  </div>
  </div>