<app-nav-bar #navbar class="mb-24 border border-red-500"></app-nav-bar>

<div class="container mx-auto px-4 py-6 min-h-screen flex flex-col">
  <div class="bg-white shadow-lg rounded-lg border p-6 flex-grow">
    <h3 class="text-lg font-semibold text-gray-900 mb-4">Demandes de mentorat</h3>

    <p *ngIf="!demandesMentorat || demandesMentorat.length === 0" class="text-gray-500 italic text-center">
      Aucune demande de mentorat pour le moment.
    </p>

    <ul *ngIf="demandesMentorat && demandesMentorat.length > 0">
      <li *ngFor="let demande of demandesMentorat" class="py-4 border-b">
        <div class="flex items-center space-x-3 mb-3">
          <img [src]="demande.photoProfile" class="h-12 w-12 rounded-full object-cover" alt="User Image">
          <div class="flex flex-col justify-center">
            <p 
              (click)="goToProfile(demande.demande.etudiantId)" 
              class="text-lg font-semibold text-gray-900 hover:underline cursor-pointer"
            >
              {{ demande.prenomEtudiant }} {{ demande.nomEtudiant }}
            </p>
            <p class="text-xs text-gray-500">{{ demande.time }}</p>
          </div>
        </div>

        <p class="text-sm font-semibold text-gray-900 mb-2">
          Raison: <span class="font-normal text-gray-700">{{ demande.demande.reason }}</span>
        </p>

        <div class="flex justify-end space-x-2 mt-4">
          <ng-container *ngIf="!statusDemande[demande.demande.etudiantId]">
            <button 
              (click)="acceptInvitation(demande.demande.etudiantId)" 
              class="px-2 py-1 bg-blue-300 hover:bg-blue-400 text-xxs rounded">
              Accepter
            </button>

            <button 
              (click)="cancelInvitation(demande.demande.etudiantId)" 
              class="px-2 py-1 cursor-pointer bg-gray-200 hover:bg-gray-400 text-xxs rounded">
              Refuser
            </button>
          </ng-container>

          <span *ngIf="statusDemande[demande.demande.etudiantId] === 'accepted'" class="text-green-600 font-semibold">Accepté</span>
          <span *ngIf="statusDemande[demande.demande.etudiantId] === 'refused'" class="text-red-600 font-semibold">Refusé</span>
        </div>
      </li>
    </ul>
  </div>
</div>
