<div class="fixed inset-0 bg-black bg-opacity-30 flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h2 class="text-xl font-semibold mb-6 text-center">Modifier l'événement</h2>
  
      <form [formGroup]="editForm" (ngSubmit)="submitForm()">
        <div class="mb-4">
          <label class="block text-sm font-medium mb-1">Titre</label>
          <input
            type="text"
            formControlName="title"
            class="w-full p-3 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Titre de l'événement"
          />
        </div>
  
        <div class="mb-4">
          <label class="block text-sm font-medium mb-1">Description</label>
          <textarea
            formControlName="description"
            class="w-full p-3 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Description"
          ></textarea>
        </div>
  
        <div class="mb-4">
          <label class="block text-sm font-medium mb-1">Capacité</label>
          <input
            type="number"
            formControlName="capacite"
            class="w-full p-3 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Capacité maximale"
          />
        </div>
  
        <div class="mb-4">
          <label class="block text-sm font-medium mb-1">Date de l'événement</label>
          <input
            type="date"
            formControlName="date_evenement"
            class="w-full p-3 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          
        </div>
  
        <div class="mb-4">
          <label class="block text-sm font-medium mb-1">Places restantes</label>
          <input
            type="number"
            formControlName="place_rest"
            class="w-full p-3 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Nombre de places restantes"
          />
        </div>
  
        <div class="flex justify-end space-x-6 mt-6">
          <button
            type="button"
            (click)="closeDialog()"
            class="px-6 py-3 bg-gray-300 hover:bg-gray-400 text-gray-700 font-semibold rounded-lg transition duration-200"
          >
            Annuler
          </button>
          <button
            type="submit"
            [disabled]="editForm.invalid"
            class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg transition duration-200"
          >
            Sauvegarder
          </button>
        </div>
      </form>
    </div>
  </div>
  